body {
       width: 100%;
       height: 99vh;
       color: white;
       background: linear-gradient(-45deg, rgb(0, 238, 255),rgba(210,255,82,1),cyan, pink);
       background-size: 400% 400%;
   animation: Gradient 20s ease infinite;
   font-family: Arial,Helvetica, sans-serif;
}

html, body {
    height: 80%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    height: 100%;
}

.container {
    margin: auto;
    position: relative;
    /* border: 1px solid gren; */
    width: 80%;
    text-align: center;
}

.container > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
       margin: auto;
       transition: all 1s;
       transform-origin: center center;
       cursor: pointer;
}

.container > img:hover {
    transform: rotate(720deg);
    /* transform: rotate3d(1,1,1,360deg); */
}

.container > p {
    text-align: justify;
    font-size: 1.2em;
}

@keyframes Gradient{
       0% {
           background-position: 0% 50%
       }
       50% {
           background-position: 100% 50%
       }
       100% {
           background-position: 0% 50%
       }
}

.menu li {
    display: inline-block;
    line-height: 35px; /*Superior */
    list-style: none; /*Decoración */
    margin: 0 5PX;
}

.menu li a {
    background-image: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, .5) 0%,
        rgba(0,0,0, .1) 100%
    );
    /*border: 2px solid gray; */
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.65);
    color: #f4f4f4; /*internet explorer*/
    color: rgba(255.255,255, 0.8);
    font: bold 18px "myriad pro", "lucida grande", Helvetica, arial, sans-serif;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.4);
}

.menu li a:active {
    background-image: -webkit-linear-gradient(
        left,
        rgba(255,255,255, .5) 0%,
        rgba(255,255,255, .2) 10%,
        rgba(0,0,0, .2) 85%,
        rgba(0,0,0 .4) 100%
        );
}

.orange{
    background: orange;
}

.orange:hover{
    background: #fcbc5d;
}

.green{
    background: #46c431;
}

.green:hover{
    background: #44e329;
}

.pink{
    background: pink;
}

.pink:hover{
    background: rgb(245, 90, 116);
}

.cyan{
    background: #23c6de;
}

.cyan:hover{
    background: #18d8f4;
}

.blue{
    background: #3271d9;
}

.blue:hover{
    background: #377ef2;
}